#page {
  width: 100vw;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

#page-content {
  width: 1200px;
  padding-top: 16px;
}

#nav {
  background-color: #333;
  color: white;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
}

#nav-mid {
  width: 1200px;
  flex-direction: row;
  justify-content: flex-start;
}

a {
  color: white;
  text-decoration: none;
  padding: 16px;
  transition: .2s;
}

a:hover {
  background-color: white;
  color: #333;
}